.r-root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*overflow: hidden;*/
  color: white;
  padding: 0 15px;
}

.r-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.r-title span, .r-title div, .r-title strong {
  border: solid 1px grey;
  padding: 1px 3px;
}

.r-title strong.negative {
  color: lightcoral;
}

.r-title div:first-child {
  width: 230px;
  text-align: left;
}

.r-title div:first-child {
  width: 230px;
  text-align: left;
}

.r-title div:last-child {
  width: 100%;
  text-align: right;
}


.in-root {
  display: flex;
  justify-content: space-between;
  /*overflow: hidden;*/
  align-items: center;
}

.in-root span, .in-root div {
  padding: 1px 3px;
}

.in-root div:nth-child(2) {
  width: 100%;
  text-align: left;
}

.in-root div:last-child {
  width: 130px;
  text-align: right;
}
