// Css Precompiler
@import "mixins.styl"
// Variables
main-padding = 3px
panel-padding = 8px
color-blue = #0d3647
color-blue-hover = #0F4E61
color = #B9964D
color-dark = #e4d6ba
color-white = whitesmoke
color-input = #314756
color-red = rgba(187, 70, 48, 0.9)

// CSS
body {

  background url("../img/bg.jpg") repeat;

  #root {
    max-width 1200px
    margin 0 auto

    .panel-content {
      color color-dark;
      background-color rgba(39, 39, 40, .9);
      padding panel-padding
      h1, h2, h3, h4 {
        padding 0
        margin 0
      }
    }

    .grayback {
      background-color rgba(39, 39, 40, .9)
      padding panel-padding
    }

    header {
      background-color rgba(39, 39, 40, .9);

      #head {
        padding 5px 5px 5px 15px
        a {
          font-size 2em
          color white
          font-weight 700
          text-decoration none
          &:hover {
            color rgba(255, 255, 255, .85)
          }
        }
      }
    }
  // Tables
    table {
      width 100%
      border-collapse initial
      thead > tr > th {
        background-color #0e394c
        color color-white;
        padding: 1px 6px
      }
      tbody tr td, tfoot tr td {
        background-color rgba(39, 39, 40, 1);
        color color-dark
        ul > li {
          padding 1px 3px
          background-color rgba(22, 112, 146, 0.2)
          margin-top 1px
          &:last-child {
            margin-bottom 0
          }
          &:hover {
            cursor pointer
            background-color rgba(22, 112, 146, .4)
          }
          .img24 {
            margin-right 6px
            width 28px
          }
        }
      }
    }
  }
}

// Manufacture Ul => LI component
ul.components {
  li {
    .containter {
      margin 0
      overflow: hidden;
    }
    .text-holder {
      overflow: visible;
      padding 0
      font-size 0.85em
    }
    .img-box {
      float left
      margin-right 3px
    }
    .left {
      float right
    }
  }
}

// Color Text
.txt-yellow {
  color #CDDC39
}

.txt-lime {
  color #A5D6A7
}

.b {
  font-weight bold
}

.used_img {
  width 24px
}

// Autocomplete
.react-autosuggest__container {
  z-index 5
  position relative
  .react-autosuggest__suggestions-container {
    width 100%
    position absolute
    ul {
      background-color #FFEDCB;
      li.react-autosuggest__suggestion {
        list-style none
        padding: 2px
        cursor pointer
        border-bottom 1px solid #ccab84
        color #314756
        &:hover {
          background-color #ccab84
        }
        &:last-child {
          border 0
        }
      }
      .react-autosuggest__suggestion--focused {
        background-color: #CCAB84;
      }
    }
  }
  .input-search {
    color color
    width 100%
    background transparent
    border 0
    outline none
  }
}

//  Search input

.inline {
  position relative
  display inline-block
  &:hover > .bottom_description {
    display block
  }
}

.bottom_description {
  display none
  position absolute
  bottom 0
  text-align center
  background-color color-blue-hover
  text-transform uppercase
  color white
  width 100%
  font-size 0.65em
  padding 0 2px
}

:hover > ul {
  display block
}

.user_img, .item_img {
  cursor pointer
  margin main-padding 0 0 main-padding
  border: 1px solid color-blue
  &:hover {
    border-color color-blue-hover
  }
}

.td-padd-rb {
  padding 0 main-padding main-padding 0
}

// Header Menu
#header-menu {
  ul {
    li {
      font-weight 600
      color color
      list-style none
      position relative
      display inline-block
      background-color color-blue
      margin-right main-padding
      &:hover {
        background color-blue-hover
        cursor pointer
      }
      a {
        color color
        text-decoration none
        padding main-padding main-padding+ 3
        display inline-block
        &:hover {
          color color
        }
      }
      &.red-cell {
        background-color rgba(187, 70, 48, 0.9)
        color color-white
        &:hover {
          background-color rgba(187, 70, 48, 1)
        }
        a {
          color white
        }
      }

    }
  }
}

// tables BPC
.inside-table {
  .row {
    margin 0
    background-color rgba(22, 112, 146, .2)
    margin-top 1px
    padding 1px 3px
    &:hover {
      background-color rgba(22, 112, 146, .4)
    }
    div[class^=col-md] {
      padding 1px 2px
    }
    div[class^=col-]:nth-child(1) {
      text-align right
      padding-right 6px
    }
  }

}

nav#header-menu > ul > li:hover > ul {
  display block
}

nav#header-menu > ul > li > ul {
  position absolute
  z-index 1
  left 0
  top 100%
  display none
  li {
    min-width 130px
    border-top: 1px solid rgba(39, 39, 40, .9)
  }
}

//  Header Menu
.t-small
  fontSize(0.85em)
  fontColor (color-white)

//  Global styles
input
  border 0
  border-color #ffe4b2
  background-color #ffedcb
  outline none
  color color-input
  width 65px
  padding 0
  margin-right 3px
  &:last-child {
    margin-right 0
  }


select, textarea, button
  border-color #ffe4b2
  background-color #ffedcb
  outline none
  color color-input
  margin-right 3px
  &:last-child {
    margin-right 0
  }

.w100
  width 100%

.t-a_l
  text-align left

.t-a_r
  text-align right

.p-b-3
  padding-bottom main-padding

.m-b-1
  margin-bottom 1px

.col-first
  padding-right 1px

.col-midd
  padding-left 2px
  padding-right 1px

.col-last
  padding-left 2px

.padd-3
  padding 3px

.padd-b-3
  padding-bottom main-padding

.m-r-3
  margin-right main-padding

@media (max-width: 1024px)
  .row
    margin 0 0 main-padding

  div[class^=col-md]
    padding 0 2px

@media (max-width: 768px)
  .row
    margin 0 0 main-padding

  .col-midd, .col-last
    margin-top main-padding

@media (max-width: 375px)
  body
    fontSize(1.3em)


